body{
  box-sizing: border-box;
  height:150%;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#f0efce;
    font-family: "	Copperplate", Times, serif;
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            position: auto;
          }
          .start{
            box-sizing: border-box;
            height:100%;
            width: 100%;
            margin: 0 auto;
            background-image: url('../img/1.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color:#f0efce;
          }
          ul{
            padding:0px!important;
            }
            .container {
              width: 50%;
              margin: 0 auto;
            }
            .form-contact {
              width: 100%;
              font-family: "Arial", Times, serif;
            }
            .form-contact-input {
              width: 100%;
              color: #424251;
              font-size: 18px;
              background-color: white;
              border: 3px solid#FF9933 ;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              height: 40px;
              margin-bottom: 20px;
              border-bottom: 3px solid orange;
              border-left: 1px solid #FF9933;
              text-indent: 20px;
            }
            .form-contact-textarea {
              width: 100%;
              color:#0f116b;
              font-size: 18px;
              background-color: white;
              border: 3px solid #E9E9E9;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              height: 200px;
              margin-bottom: 20px;
              border-bottom: 3px solid #FF9933;
              border-left: 3px solid #FF9933;
              text-indent: 20px;
              padding-top: 16px;
              padding-left: 0;
              padding-right: 0;
              font-family: "Arial", Times, serif;
            }
            .form-contact-button {
              width: 100%;
              font-size: 18px;
              border-radius: 4px;
              color: #ffff26;
              height: 40px;
              opacity: .8;
              margin-bottom: 20px;
              cursor: pointer;
              background: rgb(255, 143, 39);
              display: block;
              border: none;
              border-bottom: 1px solid #500707;
              border-right: 1px solid #500707;
              transition: 1s;
            }
            .form-contact-button:hover {
              opacity: 1;
            }