body{
  box-sizing: border-box;
  height:150%;
  width: 100%;
  margin: 0 auto;
  background-image: url('../img/1.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#f0efce;
    font-family: "	Copperplate", Times, serif;
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            position: auto;
          }
          .start{
            box-sizing: border-box;
            height:100%;
            width: 100%;
            margin: 0 auto;
            background-image: url('../img/1.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color:#f0efce;
          }
          ul{
            padding:0px!important;
            }
            @font-face {
              font-family:'PixelOperator' ;
              src: url('../source/PixelOperator.ttf')
              format('OpenType');
              font-weight: normal;
              font-style: italic;
            }
            .container {
              width: 50%;
              margin: 0 auto;
            }
            .form-contact {
              width: 100%;
              font-family: 'PixelOperator', Times, serif;
            }
            .form-contact-input {
              width: 100%;
              color: #222222;
              font-size: 25px;
              background-color: white;
              border: 3px solid#FF9933 ;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              height: 40px;
              margin-bottom: 20px;
              border-bottom: 3px solid orange;
              border-left: 1px solid #FF9933;
              text-indent: 20px;
              font-family: "PixelOperator", Times, serif;
            }
            .form-contact-textarea {
              width: 100%;
              color:#222222;
              font-size: 20px;
              background-color: white;
              border: 3px solid #ffffff;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              height: 200px;
              margin-bottom: 20px;
              border-bottom: 3px solid #FF9933;
              border-left: 3px solid #FF9933;
              text-indent: 20px;
              padding-top: 16px;
              padding-left: 0;
              padding-right: 0;
              font-family: "PixelOperator", Times, serif;
            }
            .form-contact-button {
              font-family: "PixelOperator", Times, serif;
              width: 100%;
              font-size: 20px;
              border-radius: 4px;
              color: #ffffff;
              height: 40px;
              margin-bottom: 20px;
              cursor: pointer;
              background: #333333;
              display: block;
              border: none;
              border-bottom: 1px solid #500707;
              border-right: 1px solid #500707;
              transition: 1s;
            }
            .form-contact-button:hover {
              opacity: 1;
            }
            .logo {
              font-size: 24px;
              text-transform: uppercase;
              letter-spacing: 4px;
            }
            
            nav {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
              background: #333333;
              height: 8vh;
            }
            
            .nav-list {
              list-style: none;
              display: flex;
            }
            
            .nav-list li {
              letter-spacing: 3px;
              margin-left: 32px;
            }
            
            .mobile-menu {
              display: none;
              cursor: pointer;
            }
            
            .mobile-menu div {
              width: 32px;
              height: 2px;
              background: #FF9933;
              margin: 8px;
              transition: 0.3s;
            }
            
            @media (max-width: 999px) {
              body {
                overflow-x: hidden;
              }
              .nav-list {
                position: absolute;
                top: 8vh;
                right: 0;
                width: 50vw;
                height: 92vh;
                background: #333333;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                transform: translateX(100%);
                transition: transform 0.3s ease-in;
              }
              .nav-list li {
                margin-left: 0;
                opacity: 0;
              }
              .mobile-menu {
                display: block;
              }
            }
            
            .nav-list.active {
              transform: translateX(0);
            }
            
            @keyframes navLinkFade {
              from {
                opacity: 0;
                transform: translateX(50px);
              }
              to {
                opacity: 1;
                transform: translateX(0);
              }
            }
            
            .mobile-menu.active .line1 {
              transform: rotate(-45deg) translate(-8px, 8px);
            }
            
            .mobile-menu.active .line2 {
              opacity: 0;
            }
            .mobile-menu.active .line3 {
              transform: rotate(45deg) translate(-5px, -7px);
            }
            footer{
              font-family: 'PixelOperator', Times, serif;
              color: rgb(104, 103, 103);
            }
            .control {
              margin-left: 18%;
              margin-right: 60px;
              max-width: 75%;
              height:499px;
              background-image: url('../img/tt.png');
              background-repeat: no-repeat;
              display: flexbox;
            }
            .box {
              width:82%;
              height: 408px;
              overflow-y: scroll;
              margin-right: 180px;
              max-width: 116%
            }
            ::-webkit-scrollbar-track {
              background-color: #333333;
          }
          ::-webkit-scrollbar {
              width: 6px;
              background: #333333;
          }
          ::-webkit-scrollbar-thumb {
              background: #FF9932;
          }
          h1 { 
            font-family: 'PixelOperator', Times, serif;
            font-size: 35px;
            color: #1f1e1e;
          }
          p{
            font-family: 'PixelOperator', Times, serif;
            font-size: 20px;
            margin-left: 32px;
          }
          b{
            font-size: 30px;
            padding: 9%;
          }
          .pop-up {
            margin-left: 18%;
            margin-right: 60px;
            max-width: 65%;
            height:294px;
            background-image: url('../img/pop-up.png');
            background-repeat: no-repeat;
            display: flexbox;
          }